.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.container {
  background-color: red;
  display: flex;
  justify-content: center; /* Fixed 'justify-content: c;' to 'justify-content: center;' */
  align-items: center; /* Center items vertically */
  min-height: 100vh; /* Ensures the container takes the full height */
}

.box-head {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 40px; /* Space between items */
  width: 80%;
}

.box-body {
  background-color: #ccbebe;
  text-align: center;
  padding: 45px 0; /* No need for zero values, can just use '0' */
  cursor: pointer; /* Change cursor style to indicate clickability */
  border-radius: 8px; /* Adding rounded corners for a better look */
  transition: background-color 0.2s ease; /* Smooth transition for hover effect */
}

.box-body:hover {
  background-color: #d4a5a5; /* Change background color on hover for feedback */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
      animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}
